<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKWebviewDemoForSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>063A5EEC1F56517F00F58570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>063A5F001F56517F00F58570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>063A5F0B1F56517F00F58570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
